
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TURO Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="/Assets/Client/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/client1/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/client1/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Assets/client1/css/jquery-ui.min.css" type="text/css">
    <link href="/Assets/Client/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/client1/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/client1/css/slicknav.min.css" type="text/css">
    <link href="/Assets/Client/css/bootstrap.css" rel="stylesheet" />
    <link href="/Assets/Client/css/boostrap-social.css" rel="stylesheet" />
    <link href="/Assets/Client/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/client1/css/style.css" type="text/css">
    <!--///////////////////////////////////-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Assets/Client2/css/bootstrap.css" />
    <link rel="stylesheet" href="/Assets/Client2/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/Assets/Client2/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Assets/Client2/css/themify-icons.css" />
    <link rel="stylesheet" href="/Assets/Client2/css/flaticon.css" />
    <link rel="stylesheet" href="/Assets/Client2/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Assets/Client2/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/Assets/Client2/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="/Assets/Client2/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="/Assets/Client2/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/Assets/Client2/css/style.css" />
    <link rel="stylesheet" href="/Assets/Client2/css/responsive.css" />
    <style>
        .smited {
            height: 10px;
        }

    </style>
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        @{ Html.RenderAction("TopMenu", "Home");}
        <div class="main_menu ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/"><img src="/Assets/Client/Product/12.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        @{ Html.RenderAction("MainMenu", "Home");}
                    </div>
                    <div class="col-lg-2">
                        @{ Html.RenderAction("HeaderCart", "Home");}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <!--================End Home Banner Area =================-->
    @RenderSection("slide", required: false)
    <!-- Start feature Area -->

    <div class="smited"></div>


    <!-- End feature Area -->
    <section class="featured spad">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Banner Begin -->
    @*<div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/Assets/Client/Product/banner1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="/Assets/Client/Product/banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Banner End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        @{ Html.RenderAction("Footer", "Home");}
    </footer>

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    @*<script src="/Assets/client1/js/jquery-3.3.1.min.js"></script>*@
    <script src="/Assets/Client/js/jquery-3.6.0.min.js"></script>
    <script src="/Assets/Client/js/jquery-ui.js"></script>
    @*<script src="/Assets/client1/js/bootstrap.min.js"></script>*@
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    @*<script src="/Assets/client1/js/jquery.nice-select.min.js"></script>*@
    <script src="/Assets/client1/js/jquery-ui.min.js"></script>
    <script src="/Assets/client1/js/jquery.slicknav.js"></script>
    <script src="/Assets/client1/js/mixitup.min.js"></script>
    <script src="/Assets/client1/js/owl.carousel.min.js"></script>
    <script src="/Assets/client1/js/main.js"></script>
    <script src="/Assets/Client/js/controller/baseController.js"></script>
    @*//////////////////////////////////////*@
    <script src="/Assets/Client2/js/popper.js"></script>
    <script src="/Assets/Client2/js/bootstrap.min.js"></script>
    <script src="/Assets/Client2/js/stellar.js"></script>
    <script src="/Assets/Client2/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/Assets/Client2/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/Assets/Client2/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/Assets/Client2/vendors/isotope/isotope-min.js"></script>
    <script src="/Assets/Client2/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/Assets/Client2/js/jquery.ajaxchimp.min.js"></script>
    <script src="/Assets/Client2/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Assets/Client2/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/Assets/Client2/js/mail-script.js"></script>
    <script src="/Assets/Client2/js/theme.js"></script>
    @*@Scripts.Render("~/bundles/controller");*@




    @RenderSection("jsFooter", required: false)
</body>

</html>
