@model Model.EF.Footer
    @*@Html.Raw(Model.Content)*@


        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Đ/c: số 28 ngách 14 ngõ 20<br /> Hồ Tùng Mậu - Cầu giấy - Hà Nội</li>
                            <li>Số điện thoại: 0356.471.166</li>
                            <li>Email: cong30071998@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>
                            LIÊN KẾT
                        </h6>
                        <ul>
                            <li><a href="/lien-he">Liên hệ</a></li>
                            <li><a href="/tin-tuc">Tin tức</a></li>
                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                            <li><a href="/san-pham">Sản phẩm</a></li>
                            <li><a href="/gio-hang">Giỏ hàng</a></li>
                        </ul>
                        <h6>
                            CHÍNH SÁCH
                        </h6>
                        <ul>
                            <li><a href="#">Chính sách thanh toán</a></li>
                            <li><a href="#">Chính sách bảo hành</a></li>
                            <li><a href="#">Chính sách đổi trả hàng</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Nhận thông báo của chúng tôi ngay bây giờ </h6>
                        <p>Nhận cập nhật qua email về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập Email của bạn">
                            <button type="submit" class="site-btn">Theo dõi</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/thanhcong.min" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

