@model List<Model.EF.Menu>


<nav class="header__menu">
    <div class="menu">
        <ul>
            @foreach (var item in Model)
            {
                <li class="nav-link"><a class="nav-link" href="@item.Link" target="@item.Target">@item.Text</a></li>
            }
        </ul>
    </div>
</nav>