@model List<Model.EF.ProductCategory>

<div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh mục</span>
        </div>
        <ul>
                    @foreach (var item in Model.Where(x => x.ParentID == null))
                    {
                        var child = Model.Where(x => x.ParentID == item.ID);
                        var parentClass = child.Count() > 0 ? "class=dropdown-toggle data-toggle=dropdown" : "";
            <li>
                <a href="/san-pham/@item.MetaTitle-@item.ID" @parentClass>@item.Name</a>
                @if (child.Count() > 0)
                {
            <ul>
                @foreach (var childItem in child)
                {
            <li><a href="/san-pham/@childItem.MetaTitle-@childItem.ID">@childItem.Name</a></li>}

            </ul>}

            </li>}
                </ul>
    </div>

